parameters:
    level: 8
    paths:
        - includes/
    excludePaths:
        - includes/vendor/
    ignoreErrors:
        # WordPress specific ignores
        - '#Unsafe usage of new static\(\)#'
        - '#Access to an undefined property WP_Post#'
        - '#Function wp_die invoked with 1 parameter#'
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
